@import '~antd/dist/antd.less';

body {
  min-width: 1320px
}

.main {
  margin-right: 10px;
}

.headerDiv {
  width: 65%;
}

.SubtitleDiv {
  width: 400px;
}


.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  height: 35px;
  align-items: center;
  padding: 0;
}

.tag {
  float: left;
  width: 120px;
  text-align: center;
  color: black;
  font-weight: 500;
  border-radius: 5px;
}

.Tag_content {
  color: #606368;
  border-radius: 10px;
}

.header_span {
  color: #212121;
  font-weight: 600;
  width: 150px;
  margin-left: 20px;
}

.button {
  color: #395eba;
  font-weight: 500;
}

.span_text {
  position: relative;
  left: 10px;
  top: 2px;
  font-weight: 500;
}

.switch {
  margin-left: 10px;
}

.a {
  color: #2d65ba;
  text-decoration: underline;
}

.a:hover {
  color: #2d65ba;
  text-decoration: underline;
}

.a_time {
  color: #606368;
  text-decoration: none;
}

.a_time:hover {
  color: #606368;
  text-decoration: underline;
}

.ellipsis {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: none;
  word-break: break-all;
  color: #606368;
}